/* @font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display"), local("playfair-display"),
    url("font/PlayfairDisplay-Regular.ttf") format("ttf");
  font-weight: normal;
} */

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("font/Roboto-Regular.ttf") format("ttf");
  font-weight: normal;
}

* {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.font-playfair-display {
  font-family: "Playfair Display", serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.mod-header {
  font-weight: 600;
  font-size: 86px;
}

.navbar {
  font-weight: 500;
  font-size: 24px;
}

.mod-title {
  font-weight: 500;
  font-size: 86px;
}

.mod-subtitle {
  font-weight: 500;
  font-size: 20px;
}
